#course-detail p{
    height: 100% ;
}
.target-course{
    box-sizing: border-box;
    padding: 10px;
    font-stretch: inherit;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: justify;
    overflow: hidden;
    border: 2px dashed #1b3cff !important;
    list-style: none !important;
    background-color: rgba(0, 88, 140, 0.0392157);
}
.target-course ul li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.target-course .target-li{
    margin-left: 2rem;
}
.title-reason{
    margin-bottom: 1rem;
    color: red;
    font-size: 1.4rem;
}
.title-reason i{
    color: #3333ff;
}
.course-price{
    text-align: center;
}
.course-price .course-fee{
    font-size: 22px;
}
.course-price .course-fee span{
    color: red;
}
.course-price .course-date span{
    font-size: 17px;
    background-color: #ffff00;
}
.course-price .course-date , .course-price .course-trust{
    color: red;

}
.course-price .course-date span{
    color: black;
}
.course-price .course-author{
    color: #2ba847;
    font-size: 20px;
}
.center-wrap .button{
    margin-top: 1rem;
    /*background-color: #3333ff;*/
}
table, th, td {
    border: 1px solid #d3cece;
    padding: 1rem;
}
table thead tr th:first-child{
    width: 45%;
}

 #text-4{
     background: #ed1c4d;
     color: #fff;
     border-radius: 5px;
     position: relative;
     min-height: 92px;
     padding-left: 90px;
     padding-top: 20px;
 }
#text-4:before{
    content: url("../../images/icons/old-telephone-ringing.svg");
    font-family: FontAwesome;
    font-size: 35px;
    border-radius: 100%;
    border: 3px solid #fff;
    width: 55px;
    height: 55px;
    display: block;
    line-height: 52px;
    text-align: center;
    position: absolute;
    top: 18px;
    left: 10px;
}
#text-4 .widget-title{
    border-bottom: none;
    color: #fff;
    font-size: 18px;
    background: transparent;
    padding: 0;
    margin:0;
}
#text-4 .textwidget{
    font-size: 30px;
    font-weight: bold;
    color: #fff;}

.fb-video-link{
    background: #fff;
    text-align: center;
}
.post-meta p {
    color: #848484;
}
.post-detail{
    margin-left: 1.3rem;
}
.course-detail{
    margin-top: 1.5rem;
}
.title-heading-course{
    color: #3333FF;
}