.AnyClassForContainer {
    position: fixed;
    right: -100px;
    bottom:64px !important;
    margin-bottom: 81px;
    transition: right 0.5s;
    cursor: pointer;
    background: #03A84E !important;
    border: none !important;
    border-radius: 50%;
    font-size: 20px;
    width: 60px !important;
    height: 60px !important;
    padding: 10px;

}

/*.AnyClassForTransition {*/
    /*right: 20px;*/
/*}*/