.header-padding{
    /*padding: 28px;*/
    text-align: center;
    font-weight: bold;
    color: #1075BB;
}
.header-padding .h2-header{
    color: #3333FF;
    font-weight: 800;
    margin-top: 4px;
    font-family: 'Monoton', cursive;

}
.header-padding-social {
    padding: 17px 0px 43px 7px;
    font-size: large;
}
header-padding-social .list-inline {
    font-size: large;
}
